# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.metadata

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# macOS
.DS_Store
*.swp
*.swo

# IDE
.vscode/settings.json

# Environment
.env
*.env
SECRETS.txt

# Generated
*.g.dart
*.freezed.dart

# Keys
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
documentation/References/
